@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row align-items-center">
        <a asp-action="Menu" class="btn btn-outline-primary btn-lg">View Menu</a>
        <a asp-action="OrderQueue" class="btn btn-outline-secondary btn-lg">View Order Queue</a>
    </div>
</div>
